/*** width ***/
$pc-max-width: 1000px;
$sp-min-width: 320px;

/*** font-size ***/
$h1-font-size: 3rem;
$h2-font-size: 2.6rem;
$h3-font-size: 2rem;
$header-font-size: 2.6rem;
$text-font-size: 1.6rem;

/*** color ***/
$background-color: #fff;
$brand-color: #2aa3fb;
$primary-color: #45a0ae;
$secondary-color: #ffdb5b;
$text-color: #333;
$nav-background-color: #ebeff5;
