@use "../common/variables" as var;

.l_header {
  background: var.$nav-background-color;
  &Inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 15px;
  }
}
.c_logo {
  font-size: var.$header-font-size;
  font-weight: 700;
  color: var.$brand-color;
  text-decoration: none;
}
